# Xcode
.DS_Store
build/
DerivedData/

# User-specific Xcode files
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace
